<div class="mt-4">
  <img src="{{ book.imageLinks.thumbnail }}" alt="Book cover" />
  <h1>{{ book.title }} - {{ book.publishedDate }}</h1>
  <h2
    *ngFor="let author of book.authors"
    (click)="searchAuthor(author)"
    class="mb-4"
  >
    {{ author }}
  </h2>
  <button
    class="btn btn-light me-4"
    (click)="addBook('read')"
    [disabled]="book.readStatus"
  >
    Already read
  </button>
  <button
    class="btn btn-light me-4"
    (click)="addBook('toRead')"
    [disabled]="!book.readStatus && book.readStatus != null"
  >
    Want to read
  </button>
  <button
    [hidden]="book.readStatus == null"
    class="btn btn-danger"
    (click)="deleteBook()"
  >
    Remove
  </button>
  <p class="mt-4" [innerHTML]="book.description"></p>
</div>
