<div class="row mt-4">
  <div class="col-3 text-center">
    <img
      *ngIf="book.imageLinks; else noImg"
      src="{{ book.imageLinks.thumbnail }}"
      alt="Book cover"
      class="img-fluid mb-4"
    />
    <ng-template #noImg>
      <img
        src="/assets/images/images.png"
        alt="Placeholderook cover"
        class="img-fluid mb-4"
      />
    </ng-template>
    <div class="d-grid gap-2">
      <button
        type="button"
        class="btn btn-light"
        (click)="addBook(true)"
        [disabled]="book.readStatus"
      >
        Already read
      </button>
      <button
        type="button"
        class="btn btn-light"
        (click)="addBook(false)"
        [disabled]="!book.readStatus && book.readStatus != null"
      >
        Want to read
      </button>
      <button
        type="button"
        [hidden]="book.readStatus == null"
        class="btn btn-outline-danger"
        (click)="deleteBook()"
      >
        Remove
      </button>
    </div>
  </div>
  <div class="col-9">
    <h1 class="display-4">{{ book.title }}</h1>
    <h2 *ngFor="let author of book.authors">
      <a href="/search/author/{{ author }}">
        {{ author }}
      </a>
    </h2>
    <h4>{{ book.publishedDate }}</h4>
    <p [innerHTML]="book.description"></p>
  </div>
</div>
